<%- include('partials/header'); -%>
  This is the list of <%= locals.title %>
    <div id="list">
      <center><i id="listTitle">loading ...</i></center>
    </div>
    <script>
      var id = '<%= locals.id %>';
      var idCapital = capitalizeFirstLetter(id);
      var query = '<%= locals.query %>';
      function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
      function makeTheList(list) {
        var listDOM = document.createElement('UL');
        if (list.length === 0) {
          document.getElementById('listTitle').innerHTML = 'Empty list'
        } else {
          list.forEach(item => {
            var listItemDom = document.createElement('LI');
            var title = document.createElement('p');
            var book = document.createElement('BUTTON'),
              cancelBooking = document.createElement('BUTTON');
            book.innerHTML = 'BOOK';
            cancelBooking.innerHTML = 'Cancel Booking';
            // if car
            if (item.model)
              title.innerHTML = `Model: ${item.model} / Year: ${item.year}`;
            else
              title.innerHTML = `Located @ ${item.title}`;
            book.onclick = function () {
              post({
                query: `mutation {book${idCapital}(${id}ID: \"${item._id}\")}`,
              })
                .then(res => {
                  if (res.data[`book${idCapital}`])
                    alert(`Car ${item._id} was BOOKED`);
                  else
                    alert('Not able to do the booking. Already booked?');
                })
                .catch(err => alert('Not able to do the booking. Already booked?'));
            };
            cancelBooking.onclick = function () {
              post({
                query: `mutation {cancel${idCapital}Booking(${id}ID: \"${item._id}\")}`,
              })
                .then(res => {
                  if (res.data[`cancel${idCapital}Booking`])
                    alert(`Booking of ${item._id} was cenceled`);
                  else
                    alert('Not able to cancel booking. Sure you have one?');
                })
                .catch(err => alert('Not able to cancel booking. Sure you have one?'));
            };
            listItemDom.appendChild(title);
            listItemDom.appendChild(book);
            listItemDom.appendChild(cancelBooking);
            listDOM.appendChild(listItemDom);
          });
          document.getElementById('listTitle').replaceWith(listDOM);
        }
      }
      document.addEventListener("DOMContentLoaded", function () {
        post({
          query: query
        })
          .then(res => makeTheList(res.data[id]))
          .catch(err => document.getElementById('listTitle').innerHTML = JSON.stringify(err.errors));
      });

    </script>
    <%- include('partials/footer'); -%>